# Ignorar todos los entornos virtuales
**/bin/
**/lib/
**/lib64
**/include/
**/pyvenv.cfg

# Ignorar carpetas de entornos virtuales por nombre
usuarios/
materias/
advisors/
resenas/
apiGw/

# Python
__pycache__/
*.pyc